body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px;
}
.container {
    background: white;
    min-width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    display: inline-block;
}
input, button {
    padding: 10px;
    margin: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: #28a745;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: #218838;
}
#logo {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
#logo-dashboard {
    width: 130px;
    height: 130px;
    object-fit: cover;
}